<h1> Users </h1>
<br>


<% @users.each do |x| %>
<div class="panel panel-primary" style="width:%;float:left;margin:10px">
    <div class="panel-heading">
        <h3 class="panel-title">
        <% if user_signed_in? %>
        	<%= link_to x.name,users_profile_path(id: x.id) %>
        <% else %>
        	<%= x.name %>
        <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <% if x.alumni %>
        	<%= x.YOL %> Alumnus
        <% else %>
        	<%= x.current_designation %> @ <%= x.company_or_institution %>
        <% end %>
    </div>
</div>
<% end %>



