<div class="pull-right">
    <form class="form-inline" action="/static_pages/render_dir" accept-charset="UTF-8" method="get">
    <br><br><br>
        <input name="utf8" type="hidden" value="&#x2713;" />
        <div class="form-group">
            <label for="year_req" class="control-label">Select Year</label>

            <%= select_tag :year_req, options_for_select((2012..Time.now.year).step(1).to_a.map{|s| ["#{s}", s]},@curr_year),:class => 'form-control' %>
        </div>
        <button type="submit" class="btn-sm btn-primary">GO</button>
    </form>
</div>
<h1 class="page-header"> Alumni: Batch of <%= @curr_year %> </h1>
<% if @users.any? %>
<%= will_paginate @users %>
<% @users.each do |x| %>
<div class="card hovercard container" style="width:30%;height:120px;float:left;margin:10px">
    <% if x.avatar.url.present? %>
    <%= image_tag x.avatar.url,class: "pull-right ",width: "84px",height: "84px" %>
    <% end %>
    <div class="info">
        <h3 class="title">
        <% if user_signed_in? %>
            <%= link_to x.name,users_profile_path(id: x.id) %>
        <% else %>
            <%= x.name %>
        <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <% if x.alumni %>
            <%= x.email %> 
        <% else %>
            <%= x.current_designation %> @ <%= x.company_or_institution %>
        <% end %>
    </div>
</div>
<% end %>
<%else %>
<h1 style="color:#A0A0A0">No Records</h1>
<% end %>
