<div class="row">
<div class="col-lg-12" id="home-img">
<h1 style="color:white;font-size:60px;font-weight:bold;font-family:'aaargh';">
Welcome to IIITD Alumni Portal
</h1>
</div>
</div>
<br><br>
<% if @ap.any? %>
<div class="row"><div class="col-lg-7">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% (0..@ap.count-1).each do |i| %>
    <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% @ap.each do |post| %>
    <div class="item<%= ' active'if post == @ap.first %>">
      <center><%= image_tag(post.avatar.present? ? post.avatar.url : "blog-placeholder.jpg",style: "max-height:600px;max-width:600px;opacity:80%") %><center/>
      <div class="carousel-caption">
        <h3><%= post.title %></h3>
        <p><%= truncate(post.content, :length => 50) %>... <br><br> <%= link_to "Read More",post_path(post),:class => "btn btn-sm btn-info" %></p>
      </div>
    </div>
    <% end %>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="fa fa-chevron-left glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="fa fa-chevron-right glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
<div class="col-lg-1">
&nbsp;
</div>

</div>
<% else %>  
<center><h1>No News / Posts to show</h1></center>
<% end %>

<div class="container">
  <h2> Upcoming Events </h2>
<div class="row">
    <div class="col-sm-4 event">
  <div class="thumbnail">
        <div class="overlay"></div>
        <img class="img-responsive" alt="alternative text" src="http://lorempixel.com/800/400/nightlife?1">
      </div>
      <span class="label label-info date">Jun 12</span> 
      <span class="label label-primary">Boys 5$</span>
      <span class="label label-danger">Girls 5$</span>
      <p>
        <strong>Business &amp; Entrepreneurs Workshop</strong><br>
        <em>at Grand Hotel Italia</em><br>
        <span class="small">10:00 AM - 21:00 PM</span>
      </p>
    </div>
    <div class="row">
    <div class="col-sm-4 event">
      <div class="row">
    <div class="col-sm-4 event">

