<div class="row">
<div class="col-lg-12" id="home-img">
<h1 style="color:white;font-size:60px;font-weight:bold;font-family:'aaargh';">
Welcome to IIITD Alumni Portal
</h1>
</div>
</div>
<br><br>
<% if @ap.any? %>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 600px;" >
  <ol class="carousel-indicators">
    <% (0..@ap.count-1).each do |i| %>
    <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% @ap.each do |post| %>
    <div class="item">
      <%= image_tag(post.avatar.present? ? post.avatar.url : "blog-placeholder.jpg",style: "max-height:600px;max-width:600px;") %>
      <div class="carousel-caption">
        <h3><%= post.title %></h3>
        <p><%= truncate(post.content, :length => 50) %>... <br><br> <%= link_to "Read More",post_path(post),:class => "btn-sm btn-info" %></p>
      </div>
    </div>
    <% end %>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>  
