
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put ,class: "form-horizontal user"}) do |f| %>

  <fieldset>
  <legend>Edit <%= resource_name.to_s.humanize %></legend>
    <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Year of joining', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :YOJ,  options_for_select((2008..(Time.now.year-2)).step(1).to_a.map{|s| ["#{s}", s]}),{},{ :class => 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Year of Leaving", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :YOL,  options_for_select((2012..Time.now.year).step(1).to_a.map{|s| ["#{s}", s]}),{},{ :class => 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alumni, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.check_box :alumni %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pursued, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :pursued, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :current_designation, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :current_designation, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Company/Institution", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :company_or_institution, :class => 'form-control' %>
    </div>
  </div>
  <% if current_user.avatar.present? %>
  <div class="form-group">
        <%= f.label "Profile Picture", :class => 'col-lg-2 control-label' %>
        <div class="col-lg-10">
            <%= image_tag current_user.avatar.url,style:"width:80px;height:80px;" %>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="1" name="user[remove_avatar]" id="user_remove_avatar" /> Remove current profile picture
                </label>
            </div>
        </div>
    </div>
  <div class="form-group">
    <%= f.label 'Change Picture', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
  </div>
  <% else %>
  <div class="form-group">
    <%= f.label 'Profile Picture', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :blog_url, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :blog_url, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "LinkedIn URL", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :ld_url, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Roll Number", :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :rollno, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email , :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.email_field :email, autofocus: true , :class => 'form-control'%>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :current_password ,class: 'col-lg-2 control-label'%> 
    <div class="col-lg-10" >
    <%= f.password_field :current_password, autocomplete: "off" ,:class => 'form-control' %><br />
    <i>(We need your current password to confirm your changes)</i>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "New password",:class => 'col-lg-2 control-label' %> 
    <div class="col-lg-10">
      <%= f.password_field :password, autocomplete: "off",:class => 'form-control' %><br/>
      <i>(Leave blank if you don't want to change it)</i>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Confirmation" ,:class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.password_field "New ", autocomplete: "off",:class => 'form-control' %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Update" ,class: "btn btn-primary "%>
  </div>
  </fieldset>
<% end %>

<%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class: "btn btn-danger pull-right"%>
<%= link_to "Back", :back ,class: 'btn btn-info'%>