
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "form-horizontal user" }) do |f| %>
  <fieldset>
  <legend>Sign up</legend>
  <div class="form-group">
    <%= f.label :name, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Year of joining', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :YOJ,  options_for_select((2008..(Time.now.year-3)).step(1).to_a.map{|s| ["#{s}", s]}),{},{ :class => 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :YOL, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :YOL,  options_for_select((2012..Time.now.year).step(1).to_a.map{|s| ["#{s}", s]}),{},{ :class => 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alumni, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.check_box :alumni %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pursued, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :pursued, options_for_select({"B.Tech(CSE)" => "B.Tech(CSE)","B.Tech(ECE)" => "B.Tech(ECE)","M.Tech(CSE)" => "M.Tech(CSE)","M.Tech(ECE)" => "M.Tech(ECE)","M.Tech(CB)" => "M.Tech(CB)","Ph.D(CSE)" => "Ph.D(CSE)","Ph.D(ECE)" =>"Ph.D(ECE)","Ph.D(CB)" => "Ph.D(CB)"},"B.Tech(CSE)"),{},{ :class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :current_designation, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :current_designation, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :company_or_institution, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :company_or_institution, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dp_url, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :dp_url, :class => 'form-control', :value => "http://a1239.phobos.apple.com/us/r30/Purple/v4/49/9c/bc/499cbce9-11a8-1f19-8518-8c33a59c375a/mzl.lehunqlc.png" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blog_url, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :blog_url, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ld_url, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :ld_url, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rollno, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :rollno, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email , :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.email_field :email, autofocus: true , :class => 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password ,:class => 'col-lg-2 control-label' %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div class="col-lg-10">
    <%= f.password_field :password, autocomplete: "off",:class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation ,:class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'form-control' %>
    </div>
  </div>

  <%= f.submit "Sign up" ,class: 'btn btn-primary'%>
  </fieldset>
<% end %>
<%= render "devise/shared/links" %>
