
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "form-horizontal user",:multipart => true}) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
  <legend>Sign up</legend>
  <div class="form-group">
    <%= f.label :name, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Year of Joining', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :YOJ,  options_for_select((2008..(Time.now.year-2)).step(1).to_a.map{|s| ["#{s}", s]}),{},{ :class => 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Year of Leaving', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :YOL,  options_for_select((2012..Time.now.year).step(1).to_a.map{|s| ["#{s}", s]}),{},{ :class => 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alumni, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.check_box :alumni %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pursued, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :pursued, options_for_select({"B.Tech(CSE)" => "B.Tech(CSE)","B.Tech(ECE)" => "B.Tech(ECE)","M.Tech(CSE)" => "M.Tech(CSE)","M.Tech(ECE)" => "M.Tech(ECE)","M.Tech(CB)" => "M.Tech(CB)","Ph.D(CSE)" => "Ph.D(CSE)","Ph.D(ECE)" =>"Ph.D(ECE)","Ph.D(CB)" => "Ph.D(CB)"},"B.Tech(CSE)"),{},{ :class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :current_designation, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :current_designation, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Company/Institution', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :company_or_institution, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Profile pic URL', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :dp_url, :class => 'form-control',:placeholder => "user-placeholder.png"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Profile Picture', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blog_url, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :blog_url, :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'LinkedIn URL', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :ld_url, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Roll number', :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :rollno, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email , :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.email_field :email, :class => 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password ,:class => 'col-lg-2 control-label' %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div class="col-lg-10">
    <%= f.password_field :password, autocomplete: "off",:class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Confirm Password' ,:class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'form-control' %>
    </div>
  </div>

  <%= link_to "Reset", new_registration_path(resource_name) ,class: 'btn btn-warning pull-left'%>
  <%= f.submit "Sign up" ,class: 'btn btn-success pull-right'%>
  </fieldset>
<% end %>

