<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => @user.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:YOJ) %>:</strong></dt>
  <dd><%= @user.YOJ %></dd>
  <dt><strong><%= model_class.human_attribute_name(:YOL) %>:</strong></dt>
  <dd><%= @user.YOL %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alumni) %>:</strong></dt>
  <dd><%= @user.alumni %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pursued) %>:</strong></dt>
  <dd><%= @user.pursued %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @user.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_designation) %>:</strong></dt>
  <dd><%= @user.current_designation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_or_institution) %>:</strong></dt>
  <dd><%= @user.company_or_institution %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dp_url) %>:</strong></dt>
  <dd><%= @user.dp_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blog_url) %>:</strong></dt>
  <dd><%= @user.blog_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ld_url) %>:</strong></dt>
  <dd><%= @user.ld_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rollno) %>:</strong></dt>
  <dd><%= @user.rollno %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @user.phone %></dd>
</dl>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_registration_path(@user), :class => 'btn btn-default' %>
