<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @event.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Cpntact:</strong>
  <%= @event.cpntact %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Fblink:</strong>
  <%= @event.fblink %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @event.photo %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
