<h1 align="left" class="page-header"> Blog Posts </h1>
<div class="row">
  <div class="col-lg-8">
    <% if @posts.any? %>
  <%= will_paginate @posts %>
      <% @posts.each do |post| %>
        <div class="container" style="border-bottom: 2px solid gray;max-width:800px;padding:20px;">
        <div class="row">
          <div class="col-md-6" style="text-align:center">
            <%= image_tag post.avatar.present? ? post.avatar.url : "blog-placeholder.jpg",style: "max-height:280px;max-width:280px;" %>
          </div>
          <div class="col-md-6">
            <h1 style="font-weight:bold;"><%= post.title %></h1>
            <font color="gray">
              <%= User.find(post.user_id).name %>
              <br/> <%= time_ago_in_words(post.created_at) %> ago<br/><br/>
            </font>
            <p>
              <%= truncate(post.content, :length => 150) %>... | <%= link_to "Read More",post_path(post) %>
            </p>
            <% if user_signed_in? %>
            <% if post.user_id == current_user.id || current_user.id == 1 %>
              <%= link_to "Edit",edit_post_path(post),class: 'btn-sm btn-info'%> <%= link_to "Delete", post_path(post), method: :delete,class: 'btn-sm btn-danger', data: {confirm: 'Are you sure?'}%>
            <% end %><% end %>
          </div>
        </div>
        </div>
      <% end -%>
    <% else %>
      <h1 style="color:#A0A0A0;">No Posts yet</h1>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <% end %>
</div>
 