<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
  <fieldset>
    <% if @post.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :content, :class => 'form-control',:rows => 10 %>
    </div>
  </div>
  <div class="control-group" style="display:none;">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
  </div>
 <div class="control-group">
    <%= f.label 'Change/Add Picture', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            posts_path, :class => 'btn btn-default' %>
  </fieldset>
<% end %>
