<h1> <%= @post.title %> </h1>
<hr>

<% if @post.image_url.present? %>
<%= image_tag @post.image_url, class: 'pull-left',style: "margin:5px;max-height:250px;max-width:395px;" %><% end %>
<font color="#57575757">
<%= User.find(@post.user_id).name %>
<br/> <%= time_ago_in_words(@post.created_at) %> <br/>
<br/>
</font>

<p style="white-space: pre-wrap;">
<%= @post.content %> </p>
<%= link_to "back", posts_path , class: "btn btn-primary" %>