<h1 style="font-weight:bold;"> <%= @post.title %>  <h3><span class="label label-default">By: <%= User.find(@post.user_id).name%></span></h3></h1>
<h5><span class="label label-info"><%= time_ago_in_words(@post.created_at) %></span></h5>
<hr>

<% if @post.avatar.present? %>
<%= image_tag @post.avatar.url, class: 'pull-left',style: "margin:5px;max-height:250px;max-width:395px;" %><% end %>
<font color="#57575757">
</font>

<p style="white-space: pre-wrap;">
<%= @post.content %> </p>
<%= link_to "back", posts_path , class: "btn btn-primary" %>