<!DOCTYPE html>
<html>
	<head>
  		<title>IIITD Alumni Portal</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
		<div class="row">
    <div class="footer" style="text-align:center;color:#A0A0A0;">
    <hr/>
        Empty Footer
    </div>
</div>
	</body>
</html>