<!DOCTYPE html>
<html>
	<head>
  		<title>IIITD Alumni Portal</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
    <div class="footer" style="text-align:center;color:#A0A0A0;">
    <hr/>
    	<%= image_tag("iiitd-grayscale.png",:style => "opacity:0.5;height:40px;") %><br/>
      <br>
        <%= link_to 'Home',root_path %> | 
        <%= link_to 'Top of Page',"#" %> | 
        <%= link_to 'About',static_pages_about_path %> |
        <%= link_to 'Contact',static_pages_contact_path %> | <%= link_to 'Main website',"http://www.iiitd.ac.in/" %>
        <br/> © IIIT-Delhi, 2015 
    </div>
	</body>
</html>